---
import { Image } from "astro:assets";
import CustomerManagement from "../assets/customer_management.svg";
import ChatExperience from "../assets/chat_experience.svg";
import SettleDisputes from "../assets/settle_disputes.svg";
---

<div id="benefits" class="max-w-screen-xl mx-auto px-5">
	<div class="">
		<h2 class="text-2xl font-bold text-black">Benefits of Vere-ai</h2>
	</div>

	<div class="mt-10">
		<div class="border-solid border-2 mb-5 py-6 px-8 rounded">
			<div class="flex gap-4 items-start">
				<Image
					class="text-white"
					alt="CustomerManagement"
					src={CustomerManagement}
				/>
				<h3 class="font-bold text-lg text-z-black">
					Efficient customer engagement
				</h3>
			</div>
			<p class="text-base text-black mt-4">
				Vere-ai makes engaging with your customers a breeze. It swiftly handles
				inquiries, ensuring personalized and timely assistance, allowing you to
				manage a high volume of interactions effortlessly.
			</p>
		</div>
		<div class="border-solid border-2 mb-5 py-6 px-8 rounded">
			<div class="flex gap-4 items-start">
				<Image class="text-white" alt="ChatExperience" src={ChatExperience} />
				<h3 class="font-bold text-lg text-z-black">Seamless chat experience</h3>
			</div>
			<p class="text-base text-black mt-4">
				With Vere-ai, your customers will enjoy a chat that feels just like
				talking to a real person. It's easy to use and provides the kind of
				experience that keeps customers engaged and satisfied.
			</p>
		</div>
		<div class="border-solid border-2 mb-5 py-6 px-8 rounded">
			<div class="flex gap-4 items-start">
				<Image class="text-white" alt="SettleDisputes" src={SettleDisputes} />
				<h3 class="font-bold text-lg text-z-black">
					Settle disputes as quick as possible
				</h3>
			</div>
			<p class="text-base text-black mt-4">
				Resolve disputes in no time with Vere-ai. It quickly identifies issues
				and proposes fair solutions, fostering a positive business environment
				and maintaining strong relationships with your stakeholders.
			</p>
		</div>
	</div>
</div>
