---
import Link from "./ui/link.astro";
---

<div class="max-w-screen-xl mx-auto px-5 pb-20">
	<div class="bg-dark-blue p-8 my-20 rounded-md">
		<h2 class="text-white text-lg font-black">Create a free bot today!</h2>

		<div class="flex mt-3 mb-4">
			<p class="text-base text-white mt-2 flex-2">
				Get started in giving your customers the best customer experience with
				no card required!
			</p>
			<Link href="#" class="flex-auto mr-3 mx-8 text-navBtn font-medium">
				CREATE A FREE BOT
			</Link>
		</div>
	</div>
</div>
