---
import Link from "./ui/link.astro";

const menuitems = [
	{
		title: "About",
		path: "#about",
	},
	{
		title: "Features",
		path: "#features",
	},
	{
		title: "Benefits",
		path: "#benefits",
	},
	{
		title: "Pricing",
		path: "#pricing",
	},
];
---

<div class="">
	<div class="bg-footer py-20">
		<div class="max-w-screen-xl mx-auto px-5">
			<h2 class="text-footerText text-white font-bold">Vere-ai</h2>

			<div></div>
			<ul class="flex flex-col lg:flex-row lg:gap-7 mt-8">
				{
					menuitems.map((item, index) => (
						<>
							<li>
								<a href={item.path} class="flex py-2 text-white text-nav">
									{item.title}
								</a>
							</li>
						</>
					))
				}
				<div class="flex items-center">
					<Link href="#" class="text-navBtn font-medium" block>
						CREATE A FREE BOT
					</Link>
				</div>
			</ul>

			<p class="text-white text-sm mt-16">
				© 2023 Vere-ai . All rights reserved.
			</p>
		</div>
	</div>
</div>
