---
import { Image } from "astro:assets";
import heroImage from "../assets/hero.svg";
import Link from "./ui/link.astro";
---

<main
	class="max-w-screen-xl mx-auto px-5 pt-16 pb-8 md:pt-12 md:pb-24 flex items-center gap-40"
>
	<div class="py-6 md:order-1 md:block">
		<Image
			src={heroImage}
			alt="Vere-ai"
			width="1000"
			sizes="(max-width: 800px) 100vw, 620px"
			loading="eager"
			format="avif"
		/>
	</div>
	<div>
		<h1 class="text-3xl font-bold">
			Customer service <br />
			<span class="text-orange">done right</span>
		</h1>
		<p class="text-base font-normal mt-8">
			Boost customer experience by saving time and being more efficient with
			Vere-ai interacting with your customers.
		</p>
		<div class="mt-6 flex flex-col sm:flex-row gap-3">
			<Link
				style="inverted"
				href="#"
				target="_blank"
				class="flex gap-1 items-center justify-center text-heroBtn font-medium"
				rel="noopener"
			>
				Create A Free Bot
			</Link>
		</div>
	</div>
</main>
